body {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

h1 {
	background: gray;
	color: white;
	margin: 0 0 0 0;
}

h2 {
	background: lightblue;
	color: black;
	margin: 0;
	padding-left: 1em;
}

div.section {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	display: block;
}

dt {
	clear: left;
	float: left;
	font-weight: bold;
}
dd {
	float: left;
}
.clear {
	clear:both;
}

div.section#timeline ul {
	padding: 0px;
	list-style: none;
	width: 80%;
}
div.section#timeline ul li {
	padding: 5px 5px 5px 5px;
	line-height: 1em;
}
div.section#timeline ul li:nth-child(odd) {
	background: lightgray;
}
div.section#timeline .created_at {
	font-size: 60%;
}
div.section#timeline .screen_name {
	font-weight: bold;
}
div.section#timeline .tweet {
	font-family: Pragmata;
}

div.section#tweet {
	bottom: 0px;
	width: 100%;
	position: fixed;
	background-color: gray;
}
div.section#tweet form {
	margin: 0px;
}
div.section#tweet input {
	margin: 0px;
	height: 3em;
	line-height: 2em;
	width: 90%;
}
div.section#tweet button {
	margin: 0px;
	height: 3em;
	width: 8%;
}
